<footer id="footer">
    <!--Footer-->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="companyinfo">
                        <h2><span>S</span>TARS</h2>
                        <p>Memberikan pelayanan sepenuh hati, demi kepuasan konsumen</p>
                    </div>
                </div>

                <div class="col-sm-3 col-sm-offset-7">
                    <div class="address">
                        <address>
                            <strong>PT.STARS Internasional</strong><br>
                            Jalan Sudirman Nomor 10<br>
                            Surabaya, Jawa Timur<br>
                            <abbr title="Phone">P:</abbr> (123) 456-7890
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left">Copyright © 2015 Stars Inc. All rights reserved.</p>
                <p class="pull-right">Designed by Rizal Rachmady</a></span></p>
            </div>
        </div>
    </div>

</footer>
