{% extends "base.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
{% include 'header.html' %}
<br>
<section id="advertisement">
    <div class="container">
        <img src="public/assets/front/img/advertisement.jpg" alt="">
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            {% include 'sidebar.html' %}
            <div class="col-sm-9 padding-right">
                <div class="blog-post-area">
                    <h2 class="title text-center">Galeri Foto</h2>
                    <div class="row" style="margin-bottom:3%">
                    {% for gallery in galleries %}
                        <div class="col-md-3 col-sm-3" style="margin-bottom:3%">
                            <center>
                                <img src="public/data/gallery/{{gallery.gallery_file}}" style="width:100%" alt="a">
                            </center>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'footer.html' %}
{% endblock %}
{% block js %}
{{ parent() }}
<script>
    $(document).ready(function (){
        $('.carousel-inner .item:first-child').addClass('active');
        var width = $('.image_product').css('width');
        $('.image_product').css('height', width);
    });
</script>
{% endblock %}
