<header id="header">
    <!--header-->
    <div class="header_top">
        <!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a href="404.html"><i class="fa fa-phone-square"></i> (031) 1234 123 </a></li>
                            <li><a href="contact-us.html"><i class="fa fa-envelope"></i> marketing@stars.co.id</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="social-icons pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/header_top-->

    <div class="header-middle">
        <!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a href="index.php"><img src="public/assets/front/img/logo.png" alt="" /></a>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="shop-menu pull-right">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a href="{{ path_for('product') }}"><i class="fa fa-shopping-cart"></i> Produk</a></li>
                            <li><a href="{{ path_for('promo') }}"><i class="fa fa-gift"></i> Promo</a></li>
                            <li><a href="{{ path_for('news') }}"><i class="fa fa-book"></i> Berita</a></li>
                            <li><a href="{{ path_for('gallery') }}"><i class="fa fa-camera-retro"></i> Galeri</a></li>
                            <li><a href="{{ path_for('contact') }}"><i class="fa fa-phone"></i> Kontak</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
