<div class="col-sm-3">
    <div class="left-sidebar">
        <h2>Kategori</h2>
        <div class="panel-group category-products" id="accordian">
            <!--category-productsr-->
            {% for category in categories %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordian" href="#for{{category.category_name}}">
                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                            {{category.category_name}}
                        </a>
                    </h4>
                </div>
                <div id="for{{category.category_name}}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            {% for child in category.category_child %}
                            <li><a href="{{ path_for('product-with-category', {'category_id': child.category_id}) }}">{{child.category_name}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="brands_products"><!--brands_products-->
            <h2>Merek</h2>
            <div class="brands-name">
                <ul class="nav nav-pills nav-stacked">
                    {% for brand in brands %}
                    <li>
                        <a href="{{ path_for('product-with-brand', {'brand': brand.product_brand}) }}">
                            <span class="pull-right">{{brand.count}}</span>
                            {{brand.product_brand}}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!--/category-products-->
        <div class="price-range">
            <!--price-range-->
            <h2>Berita</h2>
        </div>
        <!--/price-range-->

        <div class="shipping text-center">
            <!--shipping-->
            <img src="public/assets/front/img/shipping.jpg" alt="">
        </div>
        <!--/shipping-->

    </div>
</div>
