<div class="col-md-2" style="">
    <div class="section thick" data-spy="affix" data-offset-top="50">
        <div class="box box-sidebar hidden-sm hidden-xs row">
            <div class="col-xs-12  text-center" style="background-color: #f7f7f7; padding-top:20px;">
                <img src="public/data/user/{{ user_detail.image }}" style="max-width:50%;width:50%;height:auto;">
                <h3 class="text-capitalize">{{ user_detail.fullname }}</h3>
                <h5 class="text-uppercase"><strong>{{ user_detail.permission }}</strong></h5>
            </div>
            <hr>
            <div class="col-sm-12" style="padding: 5px">
                <div class="list-group">
                    <a href="{{ path_for('admin-product') }}" class="list-group-item {% if active == 'product' %} active {% endif %}">
                        Product
                    </a>
                    <a href="{{ path_for('admin-article') }}" class="list-group-item {% if active == 'article' %} active {% endif %}">
                        Artikel
                    </a>
                    <a href="{{ path_for('admin-banner') }}" class="list-group-item {% if active == 'banner' %} active {% endif %}">
                        Banner
                    </a>
                    <a href="{{ path_for('admin-gallery') }}" class="list-group-item {% if active == 'gallery' %} active {% endif %}">
                        Gallery
                    </a>
                    {% if user_detail.permission == 'Admin Web' %}
                    <a href="{{ path_for('admin-users') }}" class="list-group-item {% if active == 'user' %} active {% endif %}">
                        Pengguna
                    </a>
                    {% endif %}
                    <a href="{{ path_for('admin-contact') }}" class="list-group-item {% if active == 'contact' %} active {% endif %}">
                        Pesan
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
