{% extends "admin/base.html" %}
{% block title %}Product
{% endblock %} {% block body %}
{% include 'admin/header.html' %}
<div class="section first">
    <div class="container">
        <div class="row box">
            <form method="post" action="{{ path_for('admin-product-edit-post') }}"  enctype="multipart/form-data">
                <div class="col-md-5 col-sm-5 col-xs-12">
                    <div data-spy="affix" data-offset-top="60" style="width:450px;margin-top:10px;">
                        <div style="width:100%;">
                            <legend>Produk</legend>
                            <img width="100%" src="public/data/product/{{product_detail.product_image}}" id="previewer">
                            <div class="form-horizontal" style="padding-top:10px;" data-toggle="tooltip" data-placement="bottom" title="Pilih file foto produk dengan format .jpg / .png / .bmp">
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <label for="inputEmail3" class="control-label">File Foto Produk</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="file" name="product_image" onchange="loadname(this,'viewer');">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-sm-7 col-xs-12" style="padding-top:10px;">
                    <div class="form-horizontal">
                        <fieldset>
                            <legend>Informasi Produk</legend>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <label for="inputEmail3" class="control-label">Nama Produk</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control no-radius lightblack-border" name="product_name" placeholder="Sepatu Black Dragon" tabindex="1" value="{{product_detail.product_name}}">
                                </div>
                            </div>
<!--
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <label for="inputPassword3" class="control-label">Kode Produk</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" id="occupation" class="form-control no-radius lightblack-border" name="product_code" placeholder="BLK0DRG6" tabindex="2" value="{{product_detail.product_code}}">
                                </div>
                            </div>
-->
                            <div class="form-group" data-toggle="tooltip" data-placement="top" title="Untuk menambahkan daftar merek produk tekan tombol edit">
                                <div class="col-sm-3">
                                    <label for="inputPassword3" class="control-label">Merek Produk</label>
                                </div>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <select class="form-control no-radius lightblack-border" name="product_brand" placeholder="KINGSTAR" tabindex="3">
                                            {% for brand in brands %}
                                            <option value="{{brand.brand_id}}" {% if brand.brand_id == product_detail.brand_id %}selected{% endif %}>{{brand.brand_name}}</option>
                                            {% endfor %}
                                        </select>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" data-toggle="modal" data-target="#modalMerek" data-type="Merek" data-url="{{ path_for('admin-brand') }}">Edit</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" data-toggle="tooltip" data-placement="top" title="Untuk menambahkan daftar bahan produk tekan tombol edit">
                                <div class="col-sm-3">
                                    <label for="inputPassword3" class="control-label">Bahan Produk</label>
                                </div>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <select class="form-control no-radius lightblack-border" name="product_material" placeholder="Karet Sintetis" tabindex="4">
                                            {% for material in materials %}
                                            <option value="{{material.material_id}}" {% if material.material_id == product_detail.material_id %}selected{% endif %}>{{material.material_name}}</option>
                                            {% endfor %}
                                        </select>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" data-toggle="modal" data-target="#modalMerek" data-type="Bahan" data-url="{{ path_for('admin-material') }}">Edit</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" data-toggle="tooltip" data-placement="top" title="Untuk menambahkan daftar warna produk tekan tombol edit">
                                <div class="col-sm-3">
                                    <label for="inputPassword3" class="control-label">Warna Produk</label>
                                </div>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <select class="form-control no-radius lightblack-border" name="product_color" placeholder="Black" tabindex="5">
                                            {% for color in colors %}
                                            <option value="{{color.color_id}}" {% if color.color_id == product_detail.color_id %}selected{% endif %}>{{color.color_name}}</option>
                                            {% endfor %}
                                        </select>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" data-toggle="modal" data-target="#modalMerek" data-type="Warna" data-url="{{ path_for('admin-color') }}">Edit</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <label for="inputPassword3" class="control-label">Ukuran Produk</label>
                                </div>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <select class="form-control no-radius lightblack-border" name="product_size_min" placeholder="Black" tabindex="5" id="min-size">
                                        </select>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button"> ~ </button>
                                        </span>
                                        <select class="form-control no-radius lightblack-border" name="product_size_max" placeholder="Black" tabindex="5" id="max-size">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <label for="inputPassword3" class="control-label">Harga Produk</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control no-radius lightblack-border" name="product_price" placeholder="30000" tabindex="7" value="{{product_detail.product_price}}">
                                </div>
                            </div>
                            <legend>Kategori Produk</legend>
                            <div class="form-group"   data-toggle="tooltip" data-placement="top" title="Untuk Menambahkan banyak kategori silahkan pisahkan setiap kategori dengan koma (,)">
                                <div class="col-sm-3">
                                    <label for="inputPassword3" class="control-label">Kategori</label>
                                </div>
                                <div class="col-sm-8">
                                    {% for category in categories %}
                                    <div class="radio">
                                        <label>
                                            <input type="radio" class="check-category category" name="product_category_parent" value="{{category.category_id}}">
                                            {{category.category_name}}
                                            {% for category_child in category.category_child %}
                                            <div class="radio radio-childern" style="display:none;">
                                                <label>
                                                    <input class="category" type="radio" name="product_category_children" value="{{category_child.category_id}}">
                                                    {{category_child.category_name}}
                                                </label>
                                            </div>
                                            {% endfor %}
                                        </label>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <legend>Informasi Tambahan</legend>
                            <div class="form-group"   data-toggle="tooltip" data-placement="top" title="pilih untuk menjadikan produk populer">
                                <div class="col-sm-3">
                                    <label for="inputPassword3" class="control-label">Produk Populer</label>
                                </div>
                                <div class="col-sm-8">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="product_ispopular" value="1" {% if product_detail.product_ispopular %}checked{% endif %} > Populer
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <input type="hidden" name="product_id" value="{{product_detail.product_id}}">
                                    <button type="submit" class="btn btn-primary">Simpan</button>
                                    <a href="{{ path_for('admin-product') }}" class="btn btn-default">Batal</a>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--modal merek-->
<div class="modal fade" id="modalMerek" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Daftar Merek</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-hover ">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th class="th-title">Nama Merek</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="data">
                        <!--tempat daftar merek-->
                    </tbody>
                    <thead>
                        <tr>
                            <th></th>
                            <th><input type="text" class="form-control brand-name" placeholder="Nama Merek"></th>
                            <th><a class="btn btn-primary btn-xs brand-add"><i class="mdi mdi-plus"></i> Tambah</a></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
{{ parent() }}
<script>
    $(function () {
        var $affixElement = $('div[data-spy="affix"]');
        $affixElement.width($affixElement.parent().width());
        $('[data-toggle="tooltip"]').tooltip()
    });
    $(document).ready(function(){
        $(".check-category:radio").change(function() {
            if($(this).is(':checked')){
                $(".check-category:radio").nextAll().css("display", "none");
                $(".check-category:radio").nextAll().find('input[type="radio"]').removeAttr('checked');
                $(this).nextAll().css("display", "block");
            }
        });
        var categories = "{{product_detail.product_category}}"
        var category_array = categories.split(', ');
        category_array.forEach(function (elm, i, array){
            $('.category').each(function(x, y){
                if($(this).val() == elm){
                    $(this).nextAll().css("display", "block");
                    $(this).attr('checked', '');
                }
            })
        });
    });
    function loadname(img, previewName){

        var isIE = (navigator.appName=="Microsoft Internet Explorer");
        var path = img.value;
        var ext = path.substring(path.lastIndexOf('.') + 1).toLowerCase();
        if(isIE) {
            $('#'+ previewName).replaceWith('<img width="100%" src="'+path+'">');
        }else{
            if (img.files[0]){
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#'+ previewName).attr('src', e.target.result);
                }
                reader.readAsDataURL(img.files[0]);
            }
        }
    }

    for ($i=46; $i>15; $i--){
        $('#min-size').append(
            '<option value="' + $i + '"'+(( {{product_detail.product_size_min}} == $i) ? "selected" : "")+' >' + $i + '</option>'
        )
        $('#max-size').append(
            '<option value="' + $i + '"'+(( {{product_detail.product_size_max}} == $i) ? "selected" : "")+' >' + $i + '</option>'
        )
    }
    $('#min-size').on('focusin', function(){
        $('#max-size').html("");
        $('#max-size').val("");
    })
    $('#min-size').on('change', function(){
        for ($i=46; $i>=$(this).val(); $i--){
            $('#max-size').append(
                '<option value="' + $i + '">' + $i + '</option>'
            )
        }
    })

    $('#modalMerek').on('shown.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
        var modal = $(this)
        modal.find('.modal-title').html("Daftar " + button.data('type'))
        modal.find('.th-title').html("Nama " + button.data('type'))
        modal.find('.brand-name').attr('placeholder', "Nama " + button.data('type'))
        url = button.data("url")
        modal.find('.brand-add').on('click', function(){
            $.post(url+'/add', {
                name : modal.find('.brand-name').val()
            }, function(data){
                list();
                modal.find('.brand-name').val("");
            });
        });
        list = function(){
            $.getJSON(url, function(data){
                $i = 1;
                modal.find('.data').html('');
                $.each(data, function(x, val){
                    $htmlnya = '<tr>' +
                        '<td class="number">'+ $i++ +'</td>' +
                        '<td class="name">'+ val.name +'</td>' +
                        '<td class="btn-save">' +
                        '<a class="btn btn-success btn-xs brand-edit" onclick="editThis(this, \''+ val.id +'\', \''+ val.name +'\', \''+url+'/edit\');"><i class="mdi mdi-pencil"></i></a>' +
                        '<a class="btn btn-danger btn-xs" onclick="deleteThis(this, \''+ val.id +'\', \''+ val.name +'\', \''+url+'/delete\');"><i class="mdi mdi-delete"></i></a>' +
                        '</td>' +
                        '</tr>';
                    modal.find('.data').append($htmlnya);
                })
            });
        }
        list();
        modal.find('.modal-body input').val(recipient);
    })

    $('#modalMerek').on('hidden.bs.modal', function (e) {
        location.reload();
    })

    function editThis(selector, id, value, url){
        $this = $(selector);
        $parent_td = $this.parent();
        $parent_tr = $parent_td.parent();
        $parent_tr.find('.name').html('<input type="text" class="form-control edit-name" placeholder="Nama Merek" value="'+ value +'">');
        $parent_td.html(
            '<a class="btn btn-success btn-xs brand-edit" onclick="saveThis(this, \''+ id +'\', \''+ value +'\', \''+ url +'\');">Simpan</a>'+
            '<a class="btn btn-danger btn-xs" onclick="cancelThis(this, \''+ id +'\', \''+ value +'\', \''+ url +'\');">Batal</a>'
        );

        $parent_tr.find('.edit-name').on('keyup', function(){
            $parent_td.html(
                '<a class="btn btn-success btn-xs brand-edit" onclick="saveThis(this, \''+ id +'\', \''+ $(this).val() +'\', \''+ url +'\');">Simpan</a>'+
                '<a class="btn btn-danger btn-xs" onclick="cancelThis(this, \''+ id +'\', \''+ value +'\', \''+ url +'\');">Batal</a>'
            );
        })
    };

    function saveThis(selector, id, value, url){
        $.post('admin/product/brand/edit', {
            name : value,
            id : id
        }, function(data){
            $this = $(selector);
            $parent_td = $this.parent();
            $parent_tr = $parent_td.parent();
            $parent_tr.find('.name').html(value);
            $parent_td.html(
                '<a class="btn btn-success btn-xs brand-edit" onclick="editThis(this, \''+ id +'\', \''+ value +'\', \''+ url +'\');"><i class="mdi mdi-pencil"></i></a>'+
                '<a class="btn btn-danger btn-xs" onclick="deleteThis(this, \''+ id +'\', \''+ value +'\', \''+ url +'\');"><i class="mdi mdi-delete"></i></a>'
            );
        });
    }

    function cancelThis(selector, id, value, url){
        $this = $(selector);
        $parent_td = $this.parent();
        $parent_tr = $parent_td.parent();
        $parent_tr.find('.name').html(value);
        $parent_td.html(
            '<a class="btn btn-success btn-xs brand-edit" onclick="editThis(this, \''+ id +'\', \''+ value +'\', \''+ url +'\');"><i class="mdi mdi-pencil"></i></a>'+
            '<a class="btn btn-danger btn-xs" onclick="deleteThis(this, \''+ id +'\', \''+ value +'\', \''+ url +'\');"><i class="mdi mdi-delete"></i></a>'
        );
    }

    function deleteThis(selector, id, value, url){
        $this = $(selector);
        $parent_td = $this.parent();
        $parent_tr = $parent_td.parent();
        $parent_tr.find('.name').html('<b id="hapusdah" class="text-danger" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Konfirmasi Penghapusan" data-content="Apakah anda yakin ingin menghapus data ini?">'+ value +'</b>');
        $('#hapusdah').popover('show')
        $parent_td.html(
            '<a class="btn btn-danger btn-xs brand-edit" onclick="yesDeleteThis(this, \''+ id +'\', \''+ value +'\', \''+ url +'\');">YA</a>'+
            '<a class="btn btn-primary btn-xs" onclick="cancelThis(this, \''+ id +'\', \''+ value +'\', \''+ url +'\');">Batal</a>'
        );
    };


    function yesDeleteThis(selector, id, value, url){
        $.post('admin/product/brand/delete', {
            name : value,
            id : id
        }, function(data){
            $this = $(selector);
            $parent_td = $this.parent();
            $parent_tr = $parent_td.parent();
            $parent_tr.remove();
        });
    }
</script>
{% endblock %}
